* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
html {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("https://barna-molnar.github.io/Dogs/hatter.jpg");
    margin: 0;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.container-content {
    width: 850px;
    margin: auto;
}

.container-nav-images {
    margin-top: 50px;
    background-color: #fff;
    box-shadow: #444 0 0 8px;
}

.main-header {
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: transparent;
    height: 70px;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.tools {
    display: grid;
    grid-template-columns: 60% 40%;
    font-size: 15px;
    text-align: center;
    box-sizing: content-box;
    align-items: flex-start;
}

.tools a {
    font-size: 28px;
    padding: 0 8px;
    color: black;
    border-right: black solid 1px;
    line-height: 0.8;
    margin-top: 3px;
}

.input-container {
    display: inline-block;
    background-color: #fff;
    height: 30px;
}

.input-container>input {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    padding: 5px;
    box-sizing: content-box;
}

.input-container>input:focus {
    outline: solid 1px black;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    align-items: flex-start;
    justify-content: end;
}

.buttons a:last-child {
    border: 0;
}

.input-button {
    height: 30px;
    border: 0;
    color: honeydew;
    background-color: hotpink;
}

.header-form {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0;
    border: 3px solid gray;
}

.header-logo {
    height: 65px;
    margin-left: 10px;
}

.hadi-navi {
    background-color: gray;
    padding: 0%;
    overflow: hidden;
}

.hadi-navi:hover {
    overflow: unset;
}

.hadi-navi a {
    float: left;
    text-align: center;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
}

.vertical-menu>li::before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 2px;
    background-color: green;
    top: calc(50% - 10px);
}

.vertical-menu>li:first-child::before {
    display: none;
}

.vertical-menu>li {
    position: relative;
}

.vertical-menu>li:hover .sub-menu-home {
    top: 100%;
    opacity: 1;
    z-index: 10;
    transition: top 0.3s ease-in, opacity 0.3s ease-in;
}

.sub-menu-home>li:hover .sub-menu-aboutIt {
    right: 100%;
    opacity: 1;
    z-index: 10;
    transition: right 0.3s ease-in, opacity 0.3s ease-in;
}

.vertical-menu {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 0;
}

.sub-menu-aboutIt {
    position: absolute;
    right: 75%;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 0%;
    list-style-type: none;
    opacity: 0;
}

.sub-menu-aboutIt>li {
    height: 49px;
    border-bottom: orange solid 0.5px;
    display: grid;
    align-items: center;
    box-shadow: orange 1px 1px 1px;
}

.sub-menu-aboutIt>li:first-child {
    border-left: orange solid 0.5px;
}

.sub-menu-aboutIt>li:hover {
    background-color: lightcoral;
}

.vertical-menu .sub-menu-home {
    position: absolute;
    top: 50%;
    background-color: gray;
    width: 100%;
    list-style-type: none;
    text-align: center;
    padding: 0;
    background-color: #fff;
    opacity: 0;
}

.vertical-menu .sub-menu-home>li {
    height: 49px;
    border-bottom: orange solid 0.5px;
    display: grid;
    align-items: center;
}

.vertical-menu .sub-menu-home>li:hover {
    background-color: palegreen;
}

.vertical-menu .sub-menu-home>li:last-child {
    border: 0;
}

.hadi-navi>ul>li:hover>a {
    background-color: lightcoral;
}


/* Slide */

.carousel-container>div>img {
    width: 100%;
}

.carousel-container {
    display: grid;
    grid-template-columns: 350px auto;
}

.slide-content {
    margin: 20px;
}

.slide-button {
    text-transform: uppercase;
    background-color: #d92020;
    color: #fff;
    font-weight: bolder;
    border: 0;
    padding: 5px 10px;
}

button>i {
    font-size: 25px;
    vertical-align: top;
}

.carousel-indicators {
    justify-content: flex-end;
    margin-right: 30px;
    margin-bottom: 30px;
}

.carousel-indicators li.active {
    background-color: chartreuse;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: blueviolet;
    border: 0 solid blueviolet;
}


/* divider text*/

.divider-text {
    margin: 45px auto;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    box-shadow: gray;
    background-color: transparent;
    text-shadow: black 1px 1px 1px;
    width: max-content;
}


/* Articles and advertisement*/

.a-a-section {
    display: grid;
    grid-template-columns: 1fr 33%;
    border: solid 0.5px #eee;
    background-color: #fff;
    margin-bottom: 20px;
}

.article-dogs {
    display: grid;
    grid-template-columns: 250px 1fr;
    margin: 20px;
    border-top: 1px solid #eee;
    margin-bottom: 0;
    padding-top: 20px;
    grid-gap: 20px;
}

div>a>h3 {
    color: purple;
}

.article-cim {
    margin: 20px;
}

.article-cim>a {
    color: indigo;
}

.article-image>a>img {
    height: 200px;
    width: 250px;
}

.advertisement {
    background-color: #eee;
    padding: 10px;
}

.form-in-advertisement {
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.margin-form {
    margin-bottom: 10px;
}

.margin-form:last-child {
    margin-bottom: 0;
}

input {
    width: 100%;
}

.a-foundation {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: block;
}

.adopt>h5 {
    margin: auto;
}

.facebook-advertissement {
    border: indigo 2px solid;
    padding: 10px;
}

.fb-adv-a-img>a>img {
    height: 55px;
    width: 55px;
}

.nested-box {
    display: grid;
    grid-template-columns: 60px calc(100% - 60px);
    grid-gap: 5px;
}

.fb-right {
    width: 100%;
}

.fb-adv-a-img {
    border: black solid 0.5px;
    padding: 2px;
}

.fb-button {
    font-size: 12px;
    padding: 3px 4px;
}

button>i {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 2px;
}


/* hadi caorusel*/

.hadi-item.next {
    left: 100%;
    opacity: 0;
}

.hadi-carousel {
    height: 350px;
    background-color: tomato;
    position: relative;
    overflow: hidden;
}

.hadi-item {
    height: 100%;
    position: absolute;
    left: -100%;
    width: 100%;
    transition: left 1s ease-out;
}

.hadi-item.visible {
    display: block;
    left: 0;
}

.hadi-carousel .hadi-indicators {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    grid-gap: 5px;
}

.hadi-carousel .hadi-indicators .spot.visible {
    background-color: chartreuse;
}

.hadi-carousel .hadi-indicators .spot {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: blueviolet;
}


/* footer*/

.footer {
    background-color: #aaa;
    height: 40px;
    display: grid;
    align-items: center;
}

.footer-text>p {
    margin-bottom: 0;
}

@media (max-width: 1199px) {
    .container-content {
        margin: 0 auto;
    }
}

@media (max-width: 850px) {
    .container-content {
        width: 90%;
    }
    .article-dogs {
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 5px;
    }
    .hadi-carousel {}
}

@media (max-width: 600px) {
    .container-content {
        width: 100%;
    }
    .tools {
        display: none;
    }
    .carousel-container {
        position: relative;
        display: grid;
        grid-template-columns: auto;
    }
    .slide-content {
        position: absolute;
        bottom: 0px;
        padding: 20px;
        background-color: #33333350;
        color: #fff;
        font-size: 12px;
        margin: 0;
    }
    .hadi-carousel {
        height: 100vw;
    }
    h3 {
        font-size: 22px;
    }
    body {
        font-size: 15px;
    }
    button {
        font-size: 12px;
    }
    .divider-text {
        margin: 0px auto;
    }
    .a-a-section {
        grid-template-columns: 1fr;
    }
    .article-dogs {
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 5px;
    }
    .article-cim {
        margin: 5px;
        text-align: center;
    }
    .content>p {
        margin-bottom: 5px;
    }
    .facebook-advertissement {
        display: none;
    }
    .main-header {
        margin-top: 0;
    }
    .container-nav-images {
        margin-top: 5px;
    }
    .advertisement {
        margin-top: 20px;
    }
    .article.article-dogs:last-child {
        margin-bottom: 20px;
    }
}